@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', arial, sans-serif;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  background-color: #525252;
}

.container{
  width: 285px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.container .field{
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0,0,0,.15);
  text-align: center;
  transition: .3s;
}

.container .field:focus{
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.results{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.container .results .cards{
  width: 80%;
  background: #C2C2C2;
  border-radius: 7px;
  border-left: 4px solid black;
  color: black;
  font-size: 10px;
  text-align: left;
  box-sizing: border-box;
  padding-left: 5px;
  margin-top: 10px;
}

.container .results .cards .cards-header{
  font-weight: bold;
  font-size: 15px;
}

.results .audio{
  width: 90%;
  height: 45px;
  background-color: #AEAEAE;
  margin-bottom: 20px;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 10px;
}

.results .audio .btn-wrapper{
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 30px;
}

.results .audio .btn-wrapper .enableAudio {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(img/audio.png);
  background-size: cover;
}

.results .audio .word{
  font-weight: bold;
}

.results .audio .type{
  font-size: 10px;
}

.bold{
  font-weight: bold;
}
